html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(244, 237, 246);
}

header {
    height: 128px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 5px;
    background-color: #1D1F48;
    color: #ffffff;
}

header img {
    height: 100%;
}

.header-title {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: center;
}

header nav {
    font-size: 20px;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    color:  #ffffff;
}

header nav a:link {
    color: white;
    text-decoration: none;
}
  
  
header nav a:visited {
    color: white;
    text-decoration: none;
  
}
  
  
header nav a:hover {
    color: white;
    text-decoration: underline;
  
}


main {
    margin: 10px;
    padding: 10px;
}

main section {
    font-size: 20 px;
    display: flex;
    flex-wrap: wrap;
}

main section h2 {
    flex: 0 1 auto;
    min-width: 20%;
}

#about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#work {
    align-items: center;

}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featured-card {
    min-width: 100%
}

.img-card img {
    width: 100%;
}

.img-card {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


#contact {
    align-items: center;
}

.contact-link {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact-link a {
    flex: 1 1 auto;
}

.contact-link a:visted {
    color:#1D1F48;
    text-decoration: none;
}

.contact-link a:link {
    color: #1D1F48;
    text-decoration: none;
}
 
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #1D1F48;
    height: 64px;
}

footer a:link {
    color:#ffffff;
    text-decoration: none;
}

footer a:visited {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media screen and (min-width: 840px) {
    .img-card {
        width: 50%;
    }
    main section {
        flex-wrap: nowrap;
    }
}

/* @media screen and (min-width: px) {
     {
        min-width: 50%;
    }
} */